<!-- BEGIN: ABOUT -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - Vinegar-food-restaurant</title>
    <link rel="icon" href="./assets/logo/logo.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">

    <style>
        .menu{
            text-decoration: none;
            color:rgb(235, 252, 3);
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
            font-family: Allan, cursive;
            font-size: 1.3rem;
        }
        .menu:hover{
            color: rgb(0, 204, 255);
            font-size: 2rem;
            transition: all 0.2s ease;
        }
        #menu-active{
            color:rgb(0, 255, 55);
            font-size: 2rem;
        }
    </style>

</head>
    <main class="page" style="padding-top: 6rem;margin: 0px;margin-bottom: 15rem; margin-top: 3rem">
        <section class="clean-block about-us" style="position:relative">
            <div class="rounded-0 shadow" style="margin: 4rem;padding: 1rem;position:absolute; border: 10px solid whites">
                <h5 style="color: rgb(65,65,65);">ABOUT VINEGAR</h5>
                <hr style="width: 50%;margin: 1rem 0;">
                <h3 style="color: rgb(64,64,64);font-family: Aclonica, sans-serif;">Restaurant Vinegar Food</h3>
                <p class="text-justify" style="margin-right: 50%;font-family: 'Abhaya Libre', serif;">Since opening in 1993, Vinegar Food Restaurant which is the flagship brand of JADONS Ltd has earned its place among the pillars of Hanoi City’s bustling dining scene, receiving numerous accolades for its refined European cuisine, world-class
                    cellar and gracious hospitality.</p>
                <p class="text-justify" style="width: 50%;font-family: 'Abhaya Libre', serif;">Located in the former Melia Hotel on Ly Thuong Kiet – the original site of JADONS – Vinegar Food Restaurant is steeped in Vietnam culinary history.&nbsp;Building on time-honored techniques, Executive Chef Jean-François Bruel, Chef de Cuisine
                    Eddy LeRoux and Executive Pastry Chef Ghaya Oliveira present a modern, seasonal menu inspired by the finest meats, wild game, seafood, fruits, vegetables and foraged flavors from around the world. Wines from the Rhône and Burgundy,
                    as well as a robust Champagne program, rank among the noteworthy highlights of the restaurant’s award-winning cellar, overseen by Head Sommelier Raj Vaidya. Presented with a flourish of fine hospitality, the restaurant’s effect is
                    transportive, a seamless service overseen by General Manager Karim Guedouar and orchestrated by more than 150 staff members behind-the-scenes.<br><br></p>
                <p class="text-justify"></p>
            </div><img class="border rounded-0 shadow-lg" src="assets/img/res2.jpg" style="width: 48%;margin-left: 51%;margin-top: 3rem; position: relative"></section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
<!-- END: ABOUT -->