<!-- BEGIN: AWARD -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Awards - Vinegar-food-restaurant</title>
    <link rel="icon" href="./assets/logo/logo.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">

    <style>
        .menu {
            text-decoration: none;
            color: rgb(235, 252, 3);
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
            font-family: Allan, cursive;
            font-size: 1.3rem;
        }

        .menu:hover {
            color: rgb(0, 204, 255);
            font-size: 2rem;
            transition: all 0.2s ease;
        }

        #menu-active {
            color: rgb(0, 255, 55);
            font-size: 2rem;
        }

        .card:hover {
            transition: transform .2s;
            box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.8);
            transform: scale(1.1);
        }
    </style>
</head>

    <main class="page" style="margin-top: 9rem;">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h1 class="text-warning" style="text-shadow: 3px 2px 10px rgba(188, 255, 2, 0.9); font-size: 4rem;">
                        AWARDS</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top w-100 d-block" src="assets/img/tripadvisor.jpg"
                                style="height: 13rem;"></div>
                    </div>
                    <div class="col">
                        <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/bestOftheBest.jpg"
                                style="height: 13rem;"></div>
                    </div>
                    <div class="col">
                        <div class="card"><img class="card-img-top w-100 d-block"
                                src="assets/img/winner-of-world-luxury-2017.jpg" style="height: 13rem;"></div>
                    </div>
                    <div class="col">
                        <div class="card"><img class="card-img-top w-100 d-block"
                                src="assets/img/winner-of-world-luxury.jpg" style="height: 13rem;"></div>
                    </div>
                </div>
                <div class="row" style="margin-top: 2rem;">
                    <div class="col">
                        <div class="card"><img class="card-img-top w-100 d-block"
                                src="assets/img/Restaurant-names-2016-Chefs-Choice-Awards-winners_wrbm_large.jpg"
                                style="height: 14rem;"></div>
                    </div>
                    <div class="col">
                        <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/nomiee.jpg"
                                style="height: 14rem;"></div>
                    </div>
                    <div class="col">
                        <div class="card"><img class="card-img-top w-100 d-block"
                                src="assets/img/Readers-Choice-Awards-2020-winners-announced_wrbm_large.jpg"
                                style="height: 14rem;"></div>
                    </div>
                    <div class="col">
                        <div class="card"><img class="card-img-top w-100 d-block"
                                src="assets/img/best-restaurant-award.jpg" style="height: 14rem;"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
<!-- END: AWARD -->