<!-- BEGIN: CATER -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Catering - Vinegar-food-restaurant</title>
    <link rel="icon" href="./assets/logo/logo.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <style>
        .menu{
            text-decoration: none;
            color:rgb(235, 252, 3);
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
            font-family: Allan, cursive;
            font-size: 1.3rem;
        }
        .menu:hover{
            color: rgb(0, 204, 255);
            font-size: 2rem;
            transition: all 0.2s ease;
        }
        #menu-active{
            color:rgb(0, 255, 55);
            font-size: 2rem;
        }
    </style>
</head>

    <main class="page blog-post-list" style="margin-top: 9rem">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">CATERING</h2>
                </div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/drinkWithHotPot.jpg"></div>
                            <div class="col-lg-7">
                                <h3>Les Bouchees Du Bar</h3>
                                <div class="info"><span class="text-muted">May 24 2020 by&nbsp;<a href="#">Vinegar</a></span></div>
                                <p><em>We invite you to&nbsp;indulge in&nbsp;our&nbsp;Bouchées du Bar&nbsp;menu, an&nbsp;à la carte&nbsp;selection of&nbsp;contemporary bar bites designed to complement our collection of artisanal cocktails.&nbsp;Of course our full wine list is always available.</em><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/wine.png"></div>
                            <div class="col-lg-7">
                                <h3>Wine by the Glass</h3>
                                <div class="info"><span class="text-muted">Apr 16, 2020 by Vinegar</span></div>
                                <p><strong>Champagne BRUT</strong></p>
                                <p>Ployez-Jacquemart “Marie Weiss”&nbsp; &nbsp; NV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 25<br>Robert Moncuit Les Mesnil Grand Cru Daniel”&nbsp; &nbsp; &nbsp;NV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 30<br>Guy Larmandier Brut Rosé&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    30<br>Dom Perignon Brut&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2006&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 90</p>
                                <p><strong>White Wine</strong><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/3.jpg"></div>
                            <div class="col-lg-7">
                                <h3><strong>Special beef steak</strong></h3>
                                <div class="info"><span class="text-muted">Feb 16, 2020 by&nbsp;<a href="#">Vinegar</a></span></div>
                                <p>Our desire to have customers enjoy the true original flavor of meat is contained in each steak. Only at a long established steak house like ours can you enjoy carefully selected, thick Vinegar Beef steaks that are served
                                    at the peak of their deliciousness.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/14.jpeg"></div>
                            <div class="col-lg-7">
                                <h3>Shushi</h3>
                                <div class="info"><span class="text-muted">Jan 1, 2020 by&nbsp;<a href="#">Vinegar</a></span></div>
                                <p>With famous chefs from Japan, we promise to bring you perfect shushi every time you visit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
<!-- END: CATER -->