<!-- BEGIN: FEEDBACK -->
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Feedback - Vinegar-food-restaurant</title>
    <link rel="icon" href="./assets/logo/logo.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <style>
        .menu{
            text-decoration: none;
            color:rgb(235, 252, 3);
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
            font-family: Allan, cursive;
            font-size: 1.3rem;
        }
        .menu:hover{
            color: rgb(0, 204, 255);
            font-size: 2rem;
            transition: all 0.2s ease;
        }
        #menu-active{
            color:rgb(0, 255, 55);
            font-size: 2rem;
        }
    </style>
</head>

    <main class="page">
        <section class="clean-block" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(&quot;assets/img/ga10.jpg&quot;);background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" style="color: rgb(136,248,255);">Feedback</h2>
                    <p style="color: rgb(255,255,255);">Share with us about your feelings</p>
                </div>
                <div class="form-group text-center border rounded shadow" style="margin: 2rem auto;width: 70%;background-color: rgba(174,174,174,0.59);padding: 2rem;">
                    <div class="row" style="font-size: 27px;color: rgb(255,255,255);margin: 1rem;">
                        <div class="col" style="background-color: transparent;">
                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" name="feeling" style="height: 32px;"><label class="form-check-label" for="formCheck-1">Satisfaction</label></div><i class="far fa-smile-beam"></i></div>
                        <div class="col"
                            style="background-color: transparent;">
                            <div class="form-check" style="margin: 0px;height: 40px;"><input class="form-check-input justify-content-between" type="radio" id="formCheck-1" name="feeling" style="height: 32px;"><label class="form-check-label" for="formCheck-1" style="color: rgb(0,0,0);">Dissatisfaction</label></div>
                            <i
                                class="far fa-grin-tongue-squint" style="color: rgb(20,19,19);"></i>
                        </div>
                    </div><select style="margin-bottom: 1rem;width: 100%;"><optgroup label="Your choose is?"><option value="12" selected="">Meals</option><option value="13">Staff</option><option value="14">Space</option></optgroup></select>
                    <div class="input-group shadow"
                        style="padding: 1rem 0;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">And you feel?</span>
                        </div>
                        <input class="form-control" type="text" style="height: 3rem;">
                    
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Your suggestion is:</span>
                        </div>
                        <textarea class="form-control" style="height: 8rem;"></textarea>
                        
                    </div><button class="btn btn-primary btn-block" type="button" style="margin-top: 1rem;">Share</button></div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
<!-- END: FEEDBACK -->
