<!-- BEGIN: RECIPE -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Recipe - Vinegar-food-restaurant</title>
    <link rel="icon" href="./assets/logo/logo.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <style>
        .menu{
            text-decoration: none;
            color:rgb(235, 252, 3);
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
            font-family: Allan, cursive;
            font-size: 1.3rem;
        }
        .menu:hover{
            color: rgb(0, 204, 255);
            font-size: 2rem;
            transition: all 0.2s ease;
        }
        #menu-active{
            color:rgb(0, 255, 55);
            font-size: 2rem;
        }
    </style>
</head>

    <main class="page" style="padding-top: 0;">
        <section class="clean-block dark" style="padding-top: 6rem;">
            <img src="assets/img/banner.jpg" style="width: 100%;margin-bottom: 2rem; margin-top: 3rem">
            <div class="container">
                <div class="block-content">
                    <div class="post-body">
                        <h3><strong>15-minute chicken and pumpkin laksa</strong><br></h3>
                        <div class="post-info"><span>Featured in&nbsp;</span><span>Nutrition information,&nbsp; Laksa recipes</span></div>
                        <p><strong>For a hearty winter warmer try this 15-minute&nbsp;</strong><a href="https://www.taste.com.au/recipes/collections/chicken-recipes"><strong>chicken</strong></a><strong>&nbsp;and pumpkin laksa.</strong><br></p>
                        <figure class="figure text-center" style="width: 100%;height: auto;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/6yNZpaLL-Ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <figcaption class="figure-caption">
                                <strong>15-minute&nbsp;</strong>
                                <a href="https://www.taste.com.au/recipes/collections/chicken-recipes">
                                    <strong>chicken</strong>
                                </a>
                                <strong>&nbsp;and pumpkin laksa.</strong>
                                <br>
                            </figcaption>
                        </figure>
                        <div class="row">
                            <div class="col">
                                <h5><strong>INGREDIENTS</strong><br></h5>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">230g jar laksa paste<br></label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">1 tablespoon ginger paste<br></label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">4 cups (1L) salt-reduced chicken stock<br></label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">500g Coles RSPCA Approved Australian Chicken Thigh Fillets, coarsely chopped<br></label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">500g pkt Coles Australian Diced Butternut&nbsp;<a href="https://www.taste.com.au/recipes/collections/pumpkin-recipes"><strong>Pumpkin</strong></a><br></label></div>
                                <div
                                    class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">200g rice stick noodles<br></label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">400g can coconut milk<br></label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">1 bunch choy sum, trimmed, sliced<br></label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">1 cup (80g) bean sprouts<br></label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">1 long red chilli, thinly sliced (optional)<br></label></div>
                        </div>
                        <div class="col">
                            <h5><strong>METHOD</strong><br></h5>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Step</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>Step 1</strong><br></td>
                                            <td>Heat a large, deep saucepan over medium-high heat. Add the laksa paste and ginger paste and cook, stirring, for 1 min or until aromatic. Add the stock and bring to a simmer. Add the chicken and pumpkin. Reduce
                                                heat to medium-low. Cook, stirring occasionally, for 10 mins or until chicken is cooked through and the pumpkin is tender.<br></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Step 2</strong><br></td>
                                            <td>Meanwhile, place the noodles in a large heatproof bowl and cover with boiling water. Set aside for 5 mins or until noodles soften. Drain well.<br></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Step 3</strong><br></td>
                                            <td>Add the coconut milk and choy sum to the stock mixture. Stir until the choy sum wilts and the mixture is heated through.<br></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Step 4</strong><br></td>
                                            <td>Divide the noodles evenly among serving bowls. Spoon over the laksa and sprinkle with bean sprouts and chilli, if using.<br></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center" style="color: rgb(2, 121, 2); text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9)">Wish you a delicious cooking! <i class="far fa-heart" style="color: rgb(255,15,0);"></i></h2>
            </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
<!-- END: RECIPE -->